body {
  font-family: "Open Sans", sans-serif;
  background-color: #87cdde; }

.main-title {
  font-size: 4.5rem;
  font-family: "Fjalla One", sans-serif; }

h1,
h2,
h3,
h5 {
  font-family: "Fjalla One", sans-serif;
  text-align: center; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background: black;
  color: white; }

.navbar {
  background-image: linear-gradient(#87cdde, black); }

.nav-link {
  font-size: 20px;
  margin: 15px; }

.modal-header {
  background-color: rgba(77, 179, 197, 0.973); }

.banner {
  background: url("/img/iceland/iceland-photo-1.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .banner h1 {
    margin-left: 60px;
    text-align: center;
    padding-top: 400px;
    color: whitesmoke; }

.trip-header {
  text-align: center;
  margin: 25px; }

.card-body {
  background-color: black; }

.card-title,
.card-text {
  color: white;
  margin-left: 8px;
  text-align: center; }

.card-title {
  font-size: 50px; }

.trip-description {
  margin-top: 20px; }

.activity-head {
  font-family: "Fjalla One", sans-serif; }

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.slide {
  margin-top: 30px;
  margin-bottom: 30px; }

.carousel-inner {
  border: 2px solid rgba(77, 179, 197, 0.973); }

.itinerary {
  text-decoration: underline; }

.site-footer {
  padding: 10px 0;
  background-color: rgba(77, 179, 197, 0.973); }
